.dropDown-wrapper {
  /* Frame 1321314704 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px 12px 16px;
  gap: 10px;
  width: 552px;
  height: 48px;
  /* Snow */
  background: #ffffff;
  /* Field Stroke */
  border: 1px solid #cecece;
  border-radius: 12px;
}

.dropDown-wrapper:hover,
.dropDown-wrapper:focus {
  border: 1px solid #793ef5;
  /* Card Selected */
}
.select-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  justify-content: space-between;
}

.menu-content {
  /* Frame 1321314699 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 508px;
  height: 236px;
  left: 50px;
  top: 105px;
  background: #ffffff;
  /* Gray 50 */
  border: 1px solid #e2e6eb;
  /* Card Selected */
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  width: 476px;
  height: 40px;

  /* Gray 10 */

  background: #f1f4f8;
  border-radius: 8px;
}
.search:hover,
.search:focus {
  border: 2px solid #793ef5;
  /* Card Selected */
  margin: -2px;

  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.12);
}
.search > input {
  border: 0ch;
  outline: none;
  /* Auto layout */
  width: inherit;
  height: inherit;
  /* Gray 10 */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  background: transparent;
  margin-left: 10px;
  font-feature-settings: "liga" off;
  color: #1e1e1e;
  opacity: 0.5;
  border-radius: 8px;
}

.menu-content .options {
  align-self: flex-start;
  padding: 0%;
  width: inherit;
  width: 476px;
  max-height: 236px;
  overflow: visible;
}

.options > li {
  cursor: pointer;
  align-self: flex-start;
  height: fit-content;
  border-radius: 5px;
  margin-top: 5px;
  width: inherit;
  /* Text */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: "liga" off;
  color: #1e1e1e;
}

.options > li:hover {
  border: 2px solid #793ef5;
  /* Card Selected */
  margin: 1px;

  background-color: #f2f2f2;
}

.ticIcon:hover {
  width: 24px;
  height: 24px;
  background-color: #793ef5;
}
