/* import font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.panel {
  padding: 24px;
  gap: 16px;

  width: 770px;
  height: 112px;

  background: #ffffff;
  /* Gray 50 */
  border: 1px solid #e2e6eb;
  border-radius: 24px;
  /* Inside auto layout */
}
.panel:hover {
  border: 1px solid #793ef5;
  /* Card Selected */
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.12);
}

.panel-heading {
  width: 172px;
  height: 24px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  /* Inside auto layout */
}
.exmark {
  width: 24px;
  height: 24px;
  float: right;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-self: auto;
}
.textarea {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 0.3px;
  font-feature-settings: "liga" off;
  color: #1e1e1e;
  /* Inside auto layout */
}
