.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header-container {
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 20px;
}
.progressbar-container {
  margin-top: 18px;
}
.scaffolding-container {
  margin-top: 40px;
}
